<%- include ('./partiels/header.ejs') %>

<body>
    <link rel="stylesheet" href="/css/carrinho.css">
    <%- include('./partiels/navbar.ejs') %>
      
        <main>

            <produtos>
                <% for(let veic of veiculos) { %>
                    <a href="/produtos/<%= veic.idProduto %>">
                        <veiculo>   
                            <img src="<%= veic.Imagem %>" alt="Seleção de moto">
                            <p><%= marcas[veic.Marcas_idMarcas-1].Nome  %> <%= veic.Modelo %> <%= veic.Ano %> </p>
                            <p>R$ <%= veic.Valor %></p>                       
                        </veiculo>  
                    </a>   
                <% } %>
            </produtos>
    
            <options>
                <article>   
                    <p>Resumo do pedido </p>
                    <br><br>
                    <label>Endereço de faturamento</label>
                    <input type="text" name="endereco" value="<%= usuario.Endereco %>" autocomplete="off" readonly>
                    <a href="/usuarios/cadastro/">Alterar endereço</a>
                    <br><br>
                    <p>Total</p>    
                    <p>R$ <%= valorTotal %></p>   
                    
                    <a href="/produtos ">Adicionar mais produtos</a>
                    <a href="/finaizacao ">Continuar</a>

    
                </article>
            </options>

        </main>

    <%- include('./partiels/footer.ejs') %>
            
</body>
</html>