<%- include ('./partials/header.ejs') %>

<body>
    <link rel="stylesheet" href="/css/carrinho.css">
    <%- include('./partials/navbar.ejs') %>
      
        <main>

            <produtos>
                <% for(let veic of veiculos) { %>
                    <a href="/produtos/<%=veic.idProduto %>">
                        <veiculo>   
                            <img src="<%= veic.Imagem %>" alt="Veiculo selecionado">
                            <p><%=marcas[veic.Marcas_idMarcas-1].Nome  %> <%=veic.Modelo %> <%=veic.Ano %> </p>
                            <p>R$ <%=veic.Valor %></p>                       
                        </veiculo>  
                    </a>   
                <% } %>
                
            </produtos>

            <ms><%=mensagem %></ms>   
    
            <options>
                <article>   
                    <p>Resumo do pedido </p>
                    <br><br>
                    <label>Endereço de faturamento</label>
                    <input type="text" name="endereco" value="<%=usuario.Endereco %>" autocomplete="off" readonly>
                    <button type="submit">
                        <a href="/usuarios/cadastro/">Alterar endereço</a>
                    </button>
                    <br><br>
                    <p>Total</p>    
                    <p>R$ <%=valorTotal %></p>   
                    
<<<<<<< HEAD
                    <a href="/produtos ">Adicionar mais produtos</a>
                    <a href="/produtos/finalizacao ">Continuar</a>
=======
                    <a href="/produtos">Adicionar mais produtos</a>

                    <form action="/produtos/carrinho" method="post" enctype="application/json" id="carrinho">
                        <input type="idProduto" name="idProduto" value="0" hidden>
                        <button type="submit">
                           <a href=""> Limpar Carrinho </a> 
                        </button>
                    </form>
                    
                    <a href="/produtos/finalizacao ">Continuar</a>

                    
>>>>>>> ac5904d29cd411ec7a465f7ae1096503efba3051

    
                </article>
            </options>

        </main>

    <%- include('./partials/footer.ejs') %>
            
</body>
</html>