<%- include ('./partials/header.ejs') %>

<%- include ('./partials/header.ejs') %>
<body>
    <link rel="stylesheet" href="/css/login.css">
    <%- include('./partials/navbar.ejs') %>
    <main>
        <section>
            <form action="/usuarios" method="post" enctype="application/json" id="form-login">
                <h2>Faça Login</h2>
                <input type="email" name="email" value="" placeholder="Digite seu email" id="email" required>
                <input type="password" name="senha" value="" placeholder="Digite sua senha" id="password" required>
                <button type="submit" id="logar">ENTRAR</button>
                <a href="">
                    <p>esqueci minha senha</p>
                </a>
                <p><%=mensagem %></p>
            </form>
            <form action="/usuarios/cadastro" method="post" enctype="multipart/form-data" id="form-cadastro">
                <h2>Criar Conta</h2>
                <input type="text" name="nome"  id = "nome"value= "" placeholder="Digite seu nome completo" required>
                <input type="email" name="email" id = "email" value="" placeholder="Digite seu email" required>
                <input type="text" name="endereco" id="endereco" value=""  placeholder="Digite o endereco" required>
                <input type="text" name="cpf" id="cpf" value=""  placeholder="Digite o CPF" required>
                <input type="text" name="telefone" id="telefone" value="" placeholder="Digite seu telefone" required>
                <input type="password" name="senha" id="senha" value=""  placeholder="Criar senha" required>
                <label for="perfil" class="picture"><span class="picture-image"></span></label>
                <input type="file" name="avatar" id="perfil" placeholder="imagem usuario">
                <button type="submit" id="cadastro">CADASTRAR</button>
            </form>
        </section>
    </main>
    <%- include('./partials/footer.ejs') %>
    <!-- 
       <Script src="/js/scriptsValidações.js"></Script>
    -->
    
</body>
</html>





