<!DOCTYPE html>
<html lang="pt-br">

<section>
    <link rel="stylesheet" href="/css/produto_interno.css">

    <script src="https://code.jquery.com/jquery-3.6.1.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
</section>
<%- include ('./partials/header.ejs') %>

<body>
    <%- include('./partials/navbar.ejs') %>
    <main>
        <h2 class="destaques">VEICULO EM DESTAQUE</h2>

        <form action="/produtos/carrinho" method="post" enctype="application/json" id="carrinho">
            <input type="idProduto" name="idProduto" value=" <%=veic.idProduto %>" hidden>
            <button type="submit">Adicionar ao Carrinho</button>
        </form>

        <article>
            <div class="camry"><img class="veiculo" src="<%=veic.Imagem %> " alt="">
                <div class="content">
                    <div class="title">
                        <%=veic.Nome  %>
                    </div>
                    <div class="sub-title">R$
                        <%=veic.Valor %>
                    </div>
                    <p>
                        <%=veic.Descricao %>
                    </p>
                    <br>
                    <p>
                       Km/h <%=veic.Quilometragem %> 
                    </p>
                    <br>
                    <p>
                        O pacote de segurança Toyota Safety Sense⁴ contem assistente de pré-colisão, controle adaptativo
                        de velocidade de cruzeiro, sistema de assistência de permanência de faixa, com função de alerta
                        de mudança de faixa e farol alto automático. Os 9 airbags e itens como: controle de assistência
                        de arranque em subida, conjunto optico frontal em LED, sensores de estacionamento dianteiros e
                        traseiros ajudam a manobrar o carro e trazem mais segurança.
                    </p>
                    <br>

                    <!-- for(interno of Internos)   -->
                    <h2 class="destacar">IMAGEM INTERNA </h2>
                    <div class="gallery-container">
                        <a href="/img/Internos/FiatPulse_interno1.jpg" class="gallery-items">
                            <img src="/img/Internos/interno_camry.jpeg" alt="Chick Hicks">
                        </a>
                        <a href="/img/Internos/interno_camry2.jpeg" class="gallery-items">
                            <img src="/img/Internos/interno_camry2.jpeg" alt="Chick Hicks">
                        </a>
                        <a href="/img/Internos/interno_camry3.jpeg" class="gallery-items">
                            <img src="/img/Internos/interno_camry3.jpeg" alt="Chick Hicks">
                        </a>
                        <a href="/img/Internos//interno_camry4.jpeg" class="gallery-items">
                            <img src="/img/Internos//interno_camry4.jpeg" alt="Chick Hicks">
                        </a>
                        <a href="/img/Internos/interno_camry5.jpeg" class="gallery-items">
                            <img src="/img/Internos/interno_camry5.jpeg" alt="Chick Hicks">
                        </a>
                        
                    </div>

                    <h2 class="destacar">CORES</h2>
                    <div class="gallery-container">
                        <a href="/img/externo/camry_azul.jpeg" class="gallery-items">
                            <img src="/img/externo/camry_azul.jpeg" alt="Chick Hicks">
                        </a>
                        <a href="/img/externo/camry_branco.jpeg" class="gallery-items">
                            <img src="/img/externo/camry_branco.jpeg" alt="Chick Hicks">
                        </a>
                        <a href="/img/externo/camry_preto.jpeg" class="gallery-items">
                            <img src="/img/externo/camry_preto.jpeg" alt="Chick Hicks">
                        </a>
                        <a href="/img/externo//camry_marrom.jpeg" class="gallery-items">
                            <img src="/img/externo/camry_marrom.jpeg" alt="Chick Hicks">
                        </a>
                        <a href="/img/externo/camry_verm.jpeg" class="gallery-items">
                            <img src="/img/externo/camry_verm.jpeg" alt="Chick Hicks">
                        </a>
                    </div>

        </article>




    </main>
    <%- include('./partials/footer.ejs') %>
</body>

</html>