<!DOCTYPE html>
<html lang="pt-br">

<section>
    <link rel="stylesheet" href="/css/inicial.css">
    <script src="https://code.jquery.com/jquery-3.6.1.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
</section>
<%- include ('./partiels/header.ejs') %>

    <body>
        <%- include('./partiels/navbar.ejs') %>
            <main>
                <h2 class="destaques">CARRO EM DESTAQUE</h2>


                <div class="camry"><img src="<%= p.Imagem %>" alt="">

                    <div class="content">
                        <div class="title">
                            <%= p.Nome %>
                        </div>
                        <div class="sub-title">R$ <%= p.Valor %>
                        </div>
                        <p>
                            <%= p.Descricao %>
                        </p>
                    </div>



                    <script>
                        $(".slider").owlCarousel({
                            loop: true,
                            autoplay: true,
                            autoplayTimeout: 5000,
                            autoplayHoverPause: true,
                        })
                    </script>

            </main>
            <%- include('./partiels/footer.ejs') %>

    </body>

</html>