<%- include("./partials/header.ejs") %>

<body>
    <link rel="stylesheet" href="/css/usuario.css">
    <%- include("./partials/navbar.ejs") %>

    <!-- aqui -->

    <main>

        <ul class="dados">
            <a href="/usuarios/pedidos">
                <h3>Pedidos</h3>
                <li>
                    Acompanhar pedidos
                </li>
            </a>
            <br>

            <h3>Caso deseja Alterar os dados, preencher todo o formulario!</h3>
            <br>
            <form action="/usuarios/alterarCadastro" method="post" id="update">
                <h3>
                    Conta do (a) :<%=usuario.Nome %>
                </h3>
                Editar:<input type="text" name="nome" placeholder="<%=usuario.Nome %> ">
                <br>
                <h3>CPF: <%=usuario.CPF %> </h3>
                <br>
                <li>
                    <h3>
                        E-mail@:
                    </h3>
                    <%=usuario.Email %>
                    <br>
                </li>
                <br>
                <li>
                    <h3>Endereço</h3>
                    <%=usuario.Endereco %>
                    <br>
                    Editar:<input type="text" name="endereco" placeholder="<%=usuario.Endereco %> ">

                </li>
                <br>
                <li>
                    <h3>
                        Contato:
                    </h3>
                    <%=usuario.Telefone %>
                    <br>
                    Editar:<input type="text" name="telefone"  placeholder="<%=usuario.Telefone %>">

                </li>
                <br>

                <button type="submit" id="salvar">SALVAR</button>
            </form>

            <br>
            </a>
            <h3>Cartões:</h3>
            <p>Débito e Crédito</p>
            <li>
                <div>
                    <img src="/public/img/img_usuario/cartoes1.png" alt="">
                </div>
                <br>
            </li>
            </a>
            <!-- Usar a função limpar carrinho quando usar logout -->
            <a id="sair" href="/usuarios/logout">SAIR</a>


        </ul>
        <!-- Nao usar fotos -->
        <!-- <div class="imagens">
                <div class="moto1"><img src="/img/cores-harley-davidson-night-rod 1.png" alt=""></div>
                <div class="moto2"><img src="/img/vroad white 1.png" alt=""></div>
            </div> -->

        <!-- 
                <button className="button" onclick='sair()'>Sair</button>
            -->

    </main>

    <!-- aqui -->
    <script>
        
    </script>

    <%- include("./partials/footer.ejs") %>
</body>

</html>